<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>
    <nav class="primary-nav">
      <ul class="main-menu">
        <li>blog</li>
        <li>about</li>
        <li>colophon</li>
      </ul>
    </nav>

    <header>
      <h1>Diaphanous Sea</h2>
      <p>from philosopher to developer</p>
    </header>
	
    <main> 
